<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <display-name>Vina Fashion Studio Web Application</display-name>

  <servlet>
    <servlet-name>EditSellerStatusServlet</servlet-name>
    <servlet-class>vn.edu.fpt.controller.seller.EditSellerStatusServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EditSellerStatusServlet</servlet-name>
    <url-pattern>/seller/order/status</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EditSellerStatusServlet</servlet-name>
    <url-pattern>/edit-seller-status</url-pattern>
  </servlet-mapping>

</web-app>
